.sort__selection__panel {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
}
.sort__selection__panel div {
  width: 33.33%;
}
.sort__selection__panel input[type="radio"] {
  display: none;
}
.sort__selection__panel label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #4a4a4a;
  border: 1px solid #999;
  background: white;
  border-right: none;
  user-select: none;
}

div.sort__selection__panel label[for="slowly"] {
  border-radius: 6px 0 0 6px;
}
.sort__selection__panel label[for="optimal"] {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999;
}
/* Checked */
div.sort__selection__panel
  input[type="radio"][name="sort_selection_panel"]:checked
  + label {
  transition: all linear 0.2s;
  background: #2196f3;
  color: white;
}

/* Hover */
/* .sort__selection__panel label:hover {
  color: #666;
} */

/* Disabled */
/* .sort__selection__panel input[type='radio']:disabled + label  {
  background: #efefef;
  color: #666;
} */
